
/* Nav styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side{
    display: flex;
}

.nav-wrapper > .left-side > div{
   margin-right: 20px;
   font: size 0.9em;
   text-transform: uppercase;
}


.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s ;
}


.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

/* this above the letter a means its just grabbing a link. Making it gray but the code below shows that when hovered over it transitions to black */

.nav-link-wrapper:hover{   /* check when hover occurs */
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover { /* This basically makes the link turn black when hovered over. */
    color:black;
}

.active-nav-link{
    border-bottom:1px solid black;
}

.active-nav-link a{
    color:black !important;
}

/* Text on photo at home page */

